img{
    width: 300px;
    height: 350px;
}
.asd{
    position:absolute;
    left: 250px; 
    top: 350px;
}
.qwe{
    position: absolute;
    left: 450px;
}
.zxc{
    position: absolute;
    top: 70px;
    left: 500px;
}